.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1700px;
    min-height: 70vh;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    font-size: 30px;
}

.profileDetails {
    background-color: aquamarine;
    width: 100%;
    min-height: 60vh;
}

